<form action="" method="POST">
        {% csrf_token%}
        {% if form.errors %}
            {% for key, value in form.errors.items %}
            <p>{{key}}: {{value.as_text}}</p>
            {% endfor %}
        {% endif %}
        {{ form.name.label }}{{ form.name }}
        {% if form.name.errors %}
            <div style="color:red">{{ form.name.errors.as_text }}</div>
        {% endif %}
        {{ form.title.label }}{{ form.title }}
        <br>
        {{ form.memo.label }}{{ form.memo }}
        <input type="submit" value="submit">
    </form>