{% extends "blog/base.html" %}
{% block content%}

    <div class="post block">
        <h2 class="title">{{post.title}}</h2>
        <small>{{ post.posted_date}}</small>
        <p>{{post.intro}}</p>
        <p>{{post.body}}</p>
        <br>
        <h2 class="subtitle">Comment</h2>

            {% for comment in post.comments.all %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>
                                {{ comment.name}}
                                <small>
                                    {{ comment.posted_date}}
                                </small>
                            </strong>
                        </p>
                    </div>
                </div>
            </article>
            {% empty %}
            <div class="notification">
                <p>No comments</p>
            </div>
            {% endfor %}
        <br>
        <h2 class="subtitle">Add Comment</h2>
        <form action="." method="post">
            {% csrf_token%}
            {{ form.as_p}}
            <div class="field">
                <div class="control">
                    <button class="button is_danger">Submit</button>
                </div>
            </div>
        </form>
{% endblock%}